.header
{
	padding-top:30px;
	padding-bottom:30px;
	border-bottom:2px solid #8A2BE2;
}
#my_name
{
	 margin-left:80px;
	 font-size:30px;
}
.separate_line
{
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	float:left;
}
#sub_title
{
	 margin-left:80px;
}